[access "refs/heads/*"]
        label-Code-Review = -2..+2 group gce-api-core
        label-Approved = +0..+1 group gce-api-core
        workInProgress = group gce-api-core
[access "refs/tags/*"]
        create = group gce-api-ptl
        pushTag = group gce-api-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
[project]
	state = active
