coverage>=3.6
discover
feedparser
fixtures>=0.3.14
hacking<0.11,>=0.10.2
mox>=0.5.3
mock>=1.0
oslo.sphinx
oslotest>=1.10.0 # Apache-2.0
pylint==0.25.2
python-subunit>=0.0.18
sphinx!=1.2.0,!=1.3b1,<1.3,>=1.1.2
tempest-lib>=0.6.1
testrepository>=0.0.18
testtools>=0.9.34
